/* Style the header */

header {
    background-color: #666;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* list Styling start */

ol {
    background: #ff9999;
    padding: 20px;
}

ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
}

/* list styling end */

/* scroll start */

/* width */

#scrollable::-webkit-scrollbar {
    width: auto;
    height: 8px;
}

/* Track */

#scrollable::-webkit-scrollbar-track {
    background: #f2f2f2;
}

/* Handle */

#scrollable::-webkit-scrollbar-thumb {
    background: #ddd;
}

/* Handle on hover */

#scrollable::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* scroll end */

#box-container {
    display: flex;
}

a:link, a:visited {
    margin: 5px;
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

#table {
    margin: 5px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#table td, #customers th {
    border: 5px solid #ddd;
    padding: 8px;
    width: 100%;
}

#table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#table li {
    width: auto;
}

#scrollable {
    overflow-x: scroll;
}

/* 
#table td:hover {
    background-color: #ddd;
} */

#table th {
    text-align: left;
    background-color: darkgrey;
    color: white;
}