#box-container {
    display: flex;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* overflow: scroll; */
    table-layout: fixed;
}

#table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 100%;
    overflow: hidden;
}

#table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#table li {
    width: auto;
}

#table tr:hover {
    background-color: #ddd;
}

#table th {
    text-align: left;
    background-color: darkgrey;
    color: white;
}