/*Grid start */

#id {
    grid-area: header1;
}

#by {
    grid-area: header2;
}

.kids {
    grid-area: kids;
}

.url {
    grid-area: url;
}

#grid1 {
    display: grid;
    font-size: 20px;
    grid-template-areas: 'title iconleft'
}

#iconleft {
    float: right;
    grid-area: iconleft;
    
}
.fa-external-link:before {
    float: right;
    cursor: pointer;
    
}

#title {
    grid-area: title;
    margin-left: 10px;
}

/*Grid end */

#descendants {
    grid-area: descendants;
}

header {
    background-color: #666;
    text-align: center;
    font-size: 35px;
    color: white;
}

#grid {
    margin-left: 18px;
    margin-top: 10px;
    display: grid;
    grid-template-areas: 'header2 header2 header1 header1' 'url url url url' 'descendants descendants descendants descendants ' 'kids kids kids kids' 'footer  footer footer  footer';
}

/* list Styling start */

ol {
    background: #ff9999;
    padding: 20px;
}

ul li {
    background: #ffe5e5;
    padding: 5px;
}

span {
    display: flex;
}

/* list styling end */

/* scroll start */

/* width */

#scrollable::-webkit-scrollbar {
    width: auto;
    height: 8px;
}

/* Track */

/* #scrollable::-webkit-scrollbar-track {
    background: #f2f2f2; 
} */

/* Handle */

#scrollable::-webkit-scrollbar-thumb {
    background: #ddd;
}

/* Handle on hover */
#scrollable::-webkit-scrollbar-thumb:hover {
    background: #555;

}

/* scroll end */

#box-container {
    display: flex;
}

.a:link, .a:visited {
    margin: 5px;
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.a:hover, .a:active {
    background-color: red;
}

#table {
    margin: 5px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}


#table, #customers th {
    border: 5px solid #ddd;
    padding: 8px;
    width: 100%;
}

/* #table tr:nth-child(odd) {
    background-color: #f2f2f2;
} */

#table li {
    width: auto;
}

#scrollable {
    overflow-x: scroll;
}

/* 
#table td:hover {
    background-color: #ddd;
} */

#table th {
    text-align: left;
    background-color: darkgrey;
    color: white;
}

/* #row{
    margin-left: 15px;
    margin-top: 10px;
} */